{
  "components": {
    "schemas": {
      "Error": {
        "properties": {
          "details": {
            "description": "Additional error details",
            "type": "object"
          },
          "error": {
            "description": "Error code",
            "type": "string"
          },
          "message": {
            "description": "Error message",
            "type": "string"
          }
        },
        "required": [
          "error",
          "message"
        ],
        "type": "object"
      },
      "User": {
        "properties": {
          "active": {
            "type": "boolean"
          },
          "created_at": {
            "format": "date-time",
            "type": "string"
          },
          "email": {
            "format": "email",
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "profile": {
            "$ref": "#/components/schemas/UserProfile"
          }
        },
        "required": [
          "id",
          "name",
          "email"
        ],
        "type": "object"
      },
      "users_response": {
        "properties": {
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "users": {
            "items": {
              "$ref": "#/components/schemas/User"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "contact": {
      "email": "api@demo.com",
      "name": "API Team",
      "url": "https://demo.com/contact"
    },
    "description": "Comprehensive API documentation generated from traffic analysis",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "title": "Demo API Documentation",
    "version": "1.0.0"
  },
  "openapi": "3.1.0",
  "paths": {
    "/users": {
      "get": {
        "description": "GET /users - 2 requests processed, 145.0ms average response time, 100.0% success rate",
        "operationId": "get_users",
        "parameters": [
          {
            "description": "Page number for pagination",
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "default": 1,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Number of items per page",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 20,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponse"
                }
              }
            },
            "description": "OK - Request successful"
          }
        },
        "summary": "List resources",
        "tags": [
          "users"
        ]
      },
      "post": {
        "description": "POST /users - 1 requests processed, 200.0ms average response time, 100.0% success rate",
        "operationId": "post_users",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DefaultRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponse"
                }
              }
            },
            "description": "Created - Resource created successfully"
          }
        },
        "summary": "Create a new resource",
        "tags": [
          "users"
        ]
      }
    },
    "/users/{id}": {
      "get": {
        "description": "GET /users/{id} - 3 requests processed, 80.0ms average response time, 66.7% success rate",
        "operationId": "get_users",
        "parameters": [
          {
            "description": "The id identifier",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponse"
                }
              }
            },
            "description": "OK - Request successful"
          },
          "404": {
            "description": "Not Found - Resource not found"
          }
        },
        "summary": "Get a specific resource",
        "tags": [
          "users"
        ]
      }
    }
  },
  "servers": [
    {
      "description": "API Server",
      "url": "https://api.demo.com"
    }
  ],
  "tags": [
    {
      "description": "Operations related to users",
      "name": "users"
    }
  ]
}